:root {
  --purple-10: hsb(260, 80, 10);
  --purple-20: hsb(260, 80, 20);
  --purple-30: hsb(260, 80, 30);
  --purple-40: hsb(260, 80, 40);
  --purple-50: hsb(260, 80, 50);
  --purple-60: hsb(260, 80, 60);
  --purple-70: hsb(260, 80, 70);
  --purple-80: hsb(260, 80, 80);
  --purple-90: hsb(260, 80, 90);
  --purple-100: hsb(260, 80, 100);

  --blue-10: hsb(220, 80, 10);
  --blue-20: hsb(220, 80, 20);
  --blue-30: hsb(220, 80, 30);
  --blue-40: hsb(220, 80, 40);
  --blue-50: hsb(220, 80, 50);
  --blue-60: hsb(220, 80, 60);
  --blue-70: hsb(220, 80, 70);
  --blue-80: hsb(220, 80, 80);
  --blue-90: hsb(220, 80, 90);
  --blue-100: hsb(220, 80, 100);

  --cyan-10: hsb(180, 80, 10);
  --cyan-20: hsb(180, 80, 20);
  --cyan-30: hsb(180, 80, 30);
  --cyan-40: hsb(180, 80, 40);
  --cyan-50: hsb(180, 80, 50);
  --cyan-60: hsb(180, 80, 60);
  --cyan-70: hsb(180, 80, 70);
  --cyan-80: hsb(180, 80, 80);
  --cyan-90: hsb(180, 80, 90);
  --cyan-100: hsb(180, 80, 100);

  --green-10: hsb(160, 80, 10);
  --green-20: hsb(160, 80, 20);
  --green-30: hsb(160, 80, 30);
  --green-40: hsb(160, 80, 40);
  --green-50: hsb(160, 80, 50);
  --green-60: hsb(160, 80, 60);
  --green-70: hsb(160, 80, 70);
  --green-80: hsb(160, 80, 80);
  --green-90: hsb(160, 80, 90);
  --green-100: hsb(160, 80, 100);

  --pink-10: hsb(330, 80, 10);
  --pink-20: hsb(330, 80, 20);
  --pink-30: hsb(330, 80, 30);
  --pink-40: hsb(330, 80, 40);
  --pink-50: hsb(330, 80, 50);
  --pink-60: hsb(330, 80, 60);
  --pink-70: hsb(330, 80, 70);
  --pink-80: hsb(330, 80, 80);
  --pink-90: hsb(330, 80, 90);
  --pink-100: hsb(330, 80, 100);

  --red-10: hsb(350, 80, 10);
  --red-20: hsb(350, 80, 20);
  --red-30: hsb(350, 80, 30);
  --red-40: hsb(350, 80, 40);
  --red-50: hsb(350, 80, 50);
  --red-60: hsb(350, 80, 60);
  --red-70: hsb(350, 80, 70);
  --red-80: hsb(350, 80, 80);
  --red-90: hsb(350, 80, 90);
  --red-100: hsb(350, 80, 100);

  --orange-10: hsb(25, 80, 10);
  --orange-20: hsb(25, 80, 20);
  --orange-30: hsb(25, 80, 30);
  --orange-40: hsb(25, 80, 40);
  --orange-50: hsb(25, 80, 50);
  --orange-60: hsb(25, 80, 60);
  --orange-70: hsb(25, 80, 70);
  --orange-80: hsb(25, 80, 80);
  --orange-90: hsb(25, 80, 90);
  --orange-100: hsb(25, 80, 100);

  --yellow-10: hsb(55, 80, 10);
  --yellow-20: hsb(55, 80, 20);
  --yellow-30: hsb(55, 80, 30);
  --yellow-40: hsb(55, 80, 40);
  --yellow-50: hsb(55, 80, 50);
  --yellow-60: hsb(55, 80, 60);
  --yellow-70: hsb(55, 80, 70);
  --yellow-80: hsb(55, 80, 80);
  --yellow-90: hsb(55, 80, 90);
  --yellow-100: hsb(55, 80, 100);

  --white-10: hsb(0, 0, 10);
  --white-20: hsb(0, 0, 20);
  --white-30: hsb(0, 0, 30);
  --white-40: hsb(0, 0, 40);
  --white-50: hsb(0, 0, 50);
  --white-60: hsb(0, 0, 60);
  --white-70: hsb(0, 0, 70);
  --white-80: hsb(0, 0, 80);
  --white-90: hsb(0, 0, 90);
  --white-100: hsb(0, 0, 100);

  --navy-10: hsb(220, 40, 10);
  --navy-20: hsb(220, 40, 20);
  --navy-30: hsb(220, 40, 30);
  --navy-40: hsb(220, 40, 40);
  --navy-50: hsb(220, 40, 50);
  --navy-60: hsb(220, 40, 60);
  --navy-70: hsb(220, 40, 70);
  --navy-80: hsb(220, 40, 80);
  --navy-90: hsb(220, 40, 90);
  --navy-100: hsb(220, 40, 100);
}
